@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$bg_color: rgb(0,0,0);
$msg_color_1: rgba(24,24,24,0.75);
$msg_color_2: rgba(31,31,31,0.75);
$msg_color_hover: rgba(58,58,58,0.836);

.main-app {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.chat-wrapper {
  background: $bg_color;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  .chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;  
    ul.messages {
      list-style-type: none;
      padding: 0 1%;
      li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 12px;
        margin: 10px 0;
        border-radius: 9px;
        text-overflow: ellipsis;
        overflow: hidden;
        overflow-wrap: break-word;
        word-wrap: break-word;
        transition: background 0.15s;
        background: $msg_color_1;
        &:nth-child(2n) {
          background: $msg_color_2;
        }
        &:hover {
          background: $msg_color_hover;
          transition: background 0.25s;
          .user-box .time-box {
            opacity: 0.6;
            transition: opacity 0.25s
          }
        }
        .user-box {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          padding-bottom: 4px;
          font-family: 'PT Sans', sans-serif;
          font-size: 20px;
          font-weight: bold;
          color: rgba(255, 255, 255, 0.836);
          .name {
            background: rgba(255, 255, 255, 0.212);
            border-radius: 5px;
            padding: 5px 10px;
          }
          .time-box {
            margin-right: 10px;
            font-size: 16px;
            font-family: Helvetica, sans-serif;
            font-weight: normal;
            opacity: 0;
          }
        }
        .text-box {
          font-family: 'Roboto', sans-serif;
          font-size: 17px;
          padding-top: 5px;
          .message-text {}
        }
      }
    }
  }
  .composer {
    display: flex;
    padding: 10px;
    padding-bottom: 20px;
    background: rgb(0, 0, 0);
    .message-form {
      display: flex;
      padding: 10px;
      height: 35px;
      flex-grow: 1;
      flex-shrink: 1;
      input {
        padding: 7px 13px;
        display: flex;
        background: rgba(70, 70, 70, 0.25);
        color: white;
        border-radius: 22px;
        box-shadow: none;
        width: 100%;
        height: 80%;
        outline: none;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: background 0.15s;
        &:focus {
          /* border: 1px solid white; */
          background: rgba(75, 75, 75, 0.568);
        }
        &::placeholder {
          color: rgba(224, 224, 224, 0.37);
        }
      }
    }
  }
}