$bg_color: rgb(0, 0, 0);
$msg_color: rgb(70,70,70);
.main-app {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.chat-wrapper {
  background: $bg_color;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  .chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    ul.messages {
      list-style-type: none;
      padding: 0 1%;
      li {
        display: flex;
        padding: 15px 10px;
        margin: 10px 0;
        background: $msg_color;
        border-radius: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .composer {
    display: flex;
    padding: 10px;
    padding-bottom: 20px;
    background: rgb(0, 0, 0);
    .message-form {
      display: flex;
      padding: 10px;
      height: 35px;
      flex-grow: 1;
      flex-shrink: 1;
      input {
        padding: 7px 13px;
        display: flex;
        background: rgba(70, 70, 70, 0.25);
        color: white;
        border-radius: 22px;
        box-shadow: none;
        width: 100%;
        height: 80%;
        outline: none;
        border: none;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: background 0.15s;
        &:focus {
          /* border: 1px solid white; */
          background: rgba(75, 75, 75, 0.568);
        }
        &::placeholder {
          color: rgba(224, 224, 224, 0.37);
        }
      }
    }
  }
}